body {
    background-color: #E3FDFD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 6px;
    width: 5%;
  }

  img {
    border-radius: 50%;
  }

  h1, h3 {
  color: #66bfbf;
  }

#firstPara {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a {
  text-decoration: none;
}